@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><a href="http://humj.ink">humj.ink</a></p>
    <p><a href="https://oss2.humphreyj.com/file/20200831/Mosillo.html">mosillo</a></p>
</div>